<template>
	<div class="login-box">
	  <div class="login-logo">
	    <b>Reel-Reel</b>
	  </div>
	  <!-- /.login-logo -->
	  <div class="login-box-body card">
	    <p class="login-box-msg">Sign in to start your session</p>
	    <vue-toastr ref="toastr"></vue-toastr>
	    <form id="login">
	      <div class="form-group has-feedback">
	        <input type="email" class="form-control" placeholder="Email" v-model="email">
	        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
	      </div>
	      <div class="form-group has-feedback">
	        <input type="password" class="form-control" placeholder="Password" v-model="password">
	        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
	      </div>
	      <button type="submit" class="btn btn-primary btn-block btn-flat text-center" @click="submit($event)">Sign In</button>
	    </form>
		<router-link to="/forgot-password" class="pull-right" style="margin-top: 10px">I forgot my password</router-link> <br>

	  </div>
	  <!-- /.login-box-body -->
	</div>
</template>
<style type="text/css">
	
.main-footer {
  margin-left: 0px !important;
  text-align: center;
}
</style>
<script type="text/javascript">
	export default {
		name: 'Login',
		mounted() {
			console.log('mounted!');
		},
		methods: {
			submit: function(event) {
				event.preventDefault();
				var self = this;
				this.axios.defaults.baseURL = document.head.querySelector('meta[name="admin-base-url"]').content;
				this.axios.post('/login', {email: this.email, password: this.password})
				.then(function(response) {
					console.log(response);
					Cookies.set('token', response.data.data.token);
					Cookies.set('user', response.data.data.user);
					// self.$router.push({name: "Dashboard", params: {user: response.data.data.user}});
					self.$router.push('/');

				})
				.catch(function(error){
					console.log(error);
					self.$refs.toastr.e(error.response.data.meta.message);
				});
			}
		},
		data: function() {
			return {
				email: "",
				password: ""
			}
		}
	}
</script>