<template>
  <div id="app">
    <navbar v-show="$route.meta.requiresAuth === true"></navbar>
    <sidebar  v-show="$route.meta.requiresAuth === true"></sidebar>
    <router-view></router-view>
    <!-- Main Footer -->
    <footer class="main-footer">
      <!-- Default to the left -->
      <strong>Copyright &copy; 2018 <a href="#">Reel-Reel</a>.</strong> All rights reserved.
    </footer>
  </div>
</template>

<script>

import Navbar from './components/Navbar.vue'
import Sidebar from './components/Sidebar.vue' 

export default {
  name: 'app',
  components: {
    'sidebar': Sidebar,
    'navbar': Navbar
  }

}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  /*margin-top: 60px;*/
}

body {
  background: #ededed; 
}
.card{
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.card-expansion {
  height: 480px;
}

.md-card {
  width: 320px;
  margin: 4px;
  display: inline-block;
  vertical-align: top;
}
    

.form-control[readonly] {
    background-color: transparent !important
}

#overlay {
  display : block;
  position : fixed;
  z-index: 100;
  /*background-image : url('http://loadinggif.com/images/image-selection/3.gif');*/
  background-color:#666;
  opacity : 1;
  background-repeat : no-repeat;
  background-position : center;
  left : 0;
  bottom : 0;
  right : 0;
  top : 0;
}

#overlay img{
  width: 100px;
  margin-top: 20%;
  margin-left: 50%;
}

</style>
