<template>
	<div class="login-box">
	  <div class="login-logo">
	    <b>Reel-Reel</b>
	  </div>
	  <!-- /.login-logo -->
	  <div class="login-box-body card">
	    <p class="login-box-msg">Reset Password</p>
	    <vue-toastr ref="toastr"></vue-toastr>
	    <form id="login">
	      <div class="form-group has-feedback">
	        <input type="email" class="form-control" placeholder="Email" v-model="email" required="true">
	        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
	      </div>
	      <button type="submit" class="btn btn-primary btn-block btn-flat text-center" @click="submit($event)">Send Reset Link</button>
	    </form>
	    <router-link to="/login" class="pull-right" style="margin-top: 10px">Back to login</router-link> <br>

	  </div>
	  <!-- /.login-box-body -->
	</div>
</template>

<script type="text/javascript">
	export default {
		name: 'ForgotPassword',
		mounted() {
			console.log('mounted!');
		},
		methods: {
			submit: function(event) {
				event.preventDefault();
				if(!this.email){
					this.$refs.toastr.e("email is required");
					return false;
				}
				var self = this;
				this.axios.defaults.baseURL = document.head.querySelector('meta[name="base-url"]').content;
				this.axios.post('/forgot-password', {email: this.email})
				.then(function(response) {
					console.log(response);
					self.$refs.toastr.s('Reset Link Sent');
					setTimeout(function(){
						self.$router.push('/login');
					}, 2000);					
				})
				.catch(function(error){
					console.log(error);
					self.$refs.toastr.e(error.response.data.meta.message);
				});
			}
		},
		data: function() {
			return {
				email: ""
			}
		}
	}
</script>

<style type="text/css">
	body {
		background: #ededed; 
	}
	.card{
		border-radius: 2px;
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	}

	.main-footer {
		margin-left: 0px !important;
		text-align: center;
	}
</style>