<template>
	<div class="content-wrapper">
		<section class="content-header">
      
	  </section>
    <section class="content">
      <div class="box box-danger card">
        <div class="box-header with-border">
          <h3>
            {{title}}
          </h3>
        </div>
        <div id="app">
          <div id="jsGrid"></div>
        </div>
      </div>
    </section>
	</div>
</template>

<script type="text/javascript">
  export default {
    name: 'MasterData',
    data: function() {
      
      return {
        masterData: [],
        axiosLoading: false, 
        title: ""
      }
    },
    mounted: function() {
      this.fetchData();
      
    },    
    watch: {
      // call again the method if the route changes
      '$route': 'fetchData'    
    },
    methods: {
      fetchData (){
        var type = this.$route.query.type;
        this.title = this.$route.query.title;
        var self = this;
        console.log(this.$route.query.title);
        this.axios.defaults.baseURL = document.head.querySelector('meta[name="admin-base-url"]').content;
        this.axios.get('/data/'+type)
        .then(function(response){
          console.log(response);
          self.masterData = response.data.data;
          self.initGrid(self);
        })
        .catch(function(error){
          console.log(error);
        });
      },
      initGrid: function(instance){
       
      $('#jsGrid').jsGrid({
        //filtering: true,
        width: "100%",
        height: "400px",
        selecting: true,
        inserting: true,
        editing: true,
        sorting: true,
        paging: true,
        rownumbers: true,
        pageSize: 10,
        confirmDeleting: true,
        deleteConfirm: "Are you sure?",
        data: instance.masterData,
        controller: {
          insertItem: function(item){
            var form = new FormData();
            form.append("name", item.name);  
            form.append("type", instance.$route.query.type);
            instance.axios.post('/data', form)
            .then(function(response){
              console.log(response);
              item.id = response.data.data.id;
              console.log(item);
            })
            .catch(function(error){
              console.log(error);
            })
          },
          updateItem: function(item){
            console.log(item);
            instance.axios.put('/data/' + item.id, {
              id: item.id,
              name: item.name,
              type: instance.$route.query.type
            })
            .then(function(response){
              console.log(response);  
            })
            .catch(function(error){
              console.log(error);
            })
          },
          deleteItem: function(item){
            var form = new FormData();
            form.append("id", item.id);
            form.append("type", instance.$route.query.type);
            instance.axios.post('/data/' + item.id + '/delete', form)
            .then(function(response){
              console.log(response);  
            })
            .catch(function(error){
              console.log(error);
            })
          }
        },
        fields: [
          { title: "Name", name: "name", type: "text", css: "text-center", validate:{
              validator: "required",
              message: "The product discount is required"
            }
          },
          { type: "control" }
        ],
      });  
    },
    }
  }
</script>