<template>
  <header class="main-header">
    <!-- Logo -->
    
      <!-- <router-link :to="{ path: '/'}" class="logo-lg" >Reel-Reel</router-link> -->
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <router-link :to="{ path: '/'}" class="logo">
      <span class="logo-mini"><b>R-R</b></span>
      
      <span class="logo-lg"><b>Reel-Reel</b></span>
      </router-link>
    
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">   
          
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <span class="hidden-xs">Hi! {{userName}}</span>
            </a>
            <ul class="dropdown-menu">
              <li class="">
                <router-link :to="{ path: '/profile'}">
                  <span>Profile</span>
                </router-link>
              </li>
              <li class="">
                <a href="#" @click="logout($event)">
                  <span>Sign out</span>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</template>

<script type="text/javascript">
  export default {
    name: 'Navbar',
    props: ['title'],
    data: function(){
      return{
        userName: '',
      }
    },
    mounted: function(){
      this.getUser();
    },
    methods: {
      getUser: function(){
        var user = JSON.parse(Cookies.get().user);
        this.userName = user.name;
      },
      logout: function(event){
        event.preventDefault();
        Cookies.remove('token', '',{ path: '/login' });
        this.$router.push('/login');
      }
    }
  }
</script>
<style type="text/css">
  .navbar-nav > .user-menu > .dropdown-menu {
    width: 150px !important;
  }
</style>