<template>
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="treeview">
          <router-link :to="{ path: '/tape-recorders'}">
            <i class="fa fa-dashboard"></i>
            <span>Tape Recorders</span>
          </router-link>
        </li>
        <li class="treeview">
          <router-link :to="{ path: '/tapes'}">
            <i class="fa fa-dashboard"></i>
            <span>Tapes</span>
          </router-link>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>Resources</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <router-link :to="{ path: '/catalogs',query:{ type: '1', title: 'Harrison Catalogs'}}">
                <i class="fa fa-circle-o"></i>
                <span>Harrison Catalogs</span>
              </router-link>
            </li>
            <li>
              <router-link :to="{ path: '/catalogs',query: { type: '2', title: 'Ampex Catalogs'}}">
                <i class="fa fa-circle-o"></i>
                <span>Ampex Catalogs</span>
              </router-link>
            <li>
              <router-link :to="{ path: '/catalogs',query: { type: '3', title: 'Other Catalogs'}}">
                <i class="fa fa-circle-o"></i>
                <span>Other Catalogs</span>
              </router-link>
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>Misc.</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><router-link :to="{ path: '/tape-head-preamps'}"><i class="fa fa-circle-o"></i>Tape Head Preamps</router-link></li>
            <li><router-link :to="{ path: '/input-expanders'}"><i class="fa fa-circle-o"></i>Input Expanders</router-link></li>
            <li><router-link :to="{ path: '/manufacturers'}"><i class="fa fa-circle-o"></i>Manufacturers</router-link></li>
            <li><router-link :to="{ path: '/brands'}"><i class="fa fa-circle-o"></i>Brands</router-link></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-users"></i>
            <span>Users</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li>
              <router-link :to="{ path: '/users',query:{ type: '1', title: 'Admin'}}">
                <i class="fa fa-circle-o"></i>
                <span>Admin</span>
              </router-link>
            </li>
            <li>
              <router-link :to="{ path: '/users',query:{ type: '2', title: 'Moderators'}}">
                <i class="fa fa-circle-o"></i>
                <span>Moderators</span>
              </router-link>
            </li>
            <li>
              <router-link :to="{ path: '/users',query:{ type: '3', title: 'Subscribers'}}">
                <i class="fa fa-circle-o"></i>
                <span>Subscribers</span>
              </router-link>
            </li>
            <li>
              <router-link :to="{ path: '/users',query:{ type: '4', title: 'Editors'}}">
                <i class="fa fa-circle-o"></i>
                <span>Editors</span>
              </router-link>
            </li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>Master Data</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">            
            <li><router-link :to="{ path: 'master-data', query: { type: 'application', title: 'Application'}}"><i class="fa fa-circle-o"></i>Application</router-link></li>
            <li><router-link :to="{ path: 'master-data', query: { type: 'auto_reverse', title: 'Auto Reverse'}}"><i class="fa fa-circle-o"></i>Auto Reverse</router-link></li>
            <li><router-link :to="{ path: 'master-data', query: { type: 'channels', title: 'Channels'}}"><i class="fa fa-circle-o"></i>Channels</router-link></li>
            <li><router-link :to="{ path: 'master-data', query: { type: 'classical', title: 'Classical'}}"><i class="fa fa-circle-o"></i>Classical</router-link></li>
            <li><router-link :to="{ path: 'master-data', query: { type: 'duplications', title: 'Duplications'}}"><i class="fa fa-circle-o"></i>Duplications</router-link></li>
            <li><router-link :to="{ path: 'master-data', query: { type: 'electronics', title: 'Electronics'}}"><i class="fa fa-circle-o"></i>Electronics</router-link></li>
            <li><router-link :to="{ path: 'master-data', query: { type: 'equalization', title: 'Equalization'}}"><i class="fa fa-circle-o"></i>Equalizationx</router-link></li>
            <li><router-link :to="{ path: 'master-data', query: { type: 'genres', title: 'Genres'}}"><i class="fa fa-circle-o"></i>Genres</router-link></li>
            <li><router-link :to="{ path: 'master-data', query: { type: 'head_composition', title: 'Head Composition'}}"><i class="fa fa-circle-o"></i>Head Composition</router-link></li>
            <li><router-link :to="{ path: 'master-data', query: { type: 'head_configuration', title: 'Head Configuration'}}"><i class="fa fa-circle-o"></i>Head Configuration</router-link></li>
            <li><router-link :to="{ path: 'master-data', query: { type: 'inputs', title: 'Inputs'}}"><i class="fa fa-circle-o"></i>Inputs</router-link></li>
            <li><router-link :to="{ path: 'master-data', query: { type: 'max_reel_size', title: 'Max Reel Size'}}"><i class="fa fa-circle-o"></i>Max Reel Size</router-link></li>
            <li><router-link :to="{ path: 'master-data', query: { type: 'motors', title: 'Motors'}}"><i class="fa fa-circle-o"></i>Motors</router-link></li>
            <li><router-link :to="{ path: 'master-data', query: { type: 'noise_reductions', title: 'Noise Reductions'}}"><i class="fa fa-circle-o"></i>noise_reductions</router-link></li>
            <li><router-link :to="{ path: 'master-data', query: { type: 'number_of_heads', title: 'Number Of Heads'}}"><i class="fa fa-circle-o"></i>Number Of Heads</router-link></li>
            <li><router-link :to="{ path: 'master-data', query: { type: 'outputs', title: 'Outputs'}}"><i class="fa fa-circle-o"></i>Outputs</router-link></li>
            <li><router-link :to="{ path: 'master-data', query: { type: 'reel_sizes', title: 'Reel Sizes'}}"><i class="fa fa-circle-o"></i>Reel Sizes</router-link></li>
            <li><router-link :to="{ path: 'master-data', query: { type: 'speeds', title: 'Speeds'}}"><i class="fa fa-circle-o"></i>Speeds</router-link></li>
            <li><router-link :to="{ path: 'master-data', query: { type: 'tracks', title: 'Tracks'}}"><i class="fa fa-circle-o"></i>Tracks</router-link></li>
            <li><router-link :to="{ path: 'master-data', query: { type: 'voltage', title: 'Voltage'}}"><i class="fa fa-circle-o"></i>Voltage</router-link></li>
          </ul>
        </li>
        <li class="treeview">
          <router-link :to="{ path: 'history'}">
            <i class="fa fa-dashboard"></i>
            <span>History</span>
          </router-link>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dashboard"></i>
            <span>Forum</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>
</template>
<style type="text/css">
  .skin-red .main-header .logo{
    margin-bottom: 0px;
  }

  .router-link-exact-active{
    color: #fff !important;
  }
</style>
<script type="text/javascript">
  export default {
    name: 'Sidebar',
    mounted() {
      
		},
    methods: {
      changeCatalog:function(type){
        this.$router.beforeEach((to, from, next) => {
          to.query.type = type
          next()
        })
      },
      getData: function(message){
				var self = this;
        this.axios.defaults.baseURL = document.head.querySelector('meta[name="admin-base-url"]').content;
        console.log('/data/' + message);
				this.axios.get(url)
				.then(function(response) {
					console.log(response);
          self.axios.defaults.baseURL = document.head.querySelector('meta[name="admin-base-url"]').content;
					self.$router.push('/master-data');

				})
				.catch(function(error){
					console.log(error);
					self.axios.defaults.baseURL = document.head.querySelector('meta[name="admin-base-url"]').content;
				});
      }
    }
  }
</script>