<template>
	<div class="content-wrapper">
		<section class="content-header">
      
	  </section>
    <section class="content">
      <div class="box box-danger card">
        <div class="box-header with-border">
          <h3>
            Histories
          </h3>
          <p class="">
          <router-link :to="{ path: '/history/create'}" class="btn btn-warning"> New History</router-link>
          </p>
        </div>
        <vue-toastr ref="toastr"></vue-toastr>
        <div id="app">
          <table id="example" class="table pmd-table  display responsive nowrap" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="sort">S No.</th>
                <th class="sort">Name</th>
                <th class="sort">Description</th>
                <th class="sort">Slug</th>
                <th class="sort">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="history, index in historyList.data">
                <td>{{index + 1}}</td>
                <td>{{history.name}}</td>
                <td>{{history.description}}</td>
                <td>{{history.slug}}</td>
                <td><router-link :to="{ path: '/history/'+history.id+'/edit'}" class="btn btn-warning btn-sm">Edit</router-link>
                <a href="" @click="deleteHistory($event, history.id, index)" class="btn btn-danger btn-sm">Delete</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <pagination :data="historyList" v-on:pagination-change-page="getHistoryList">
        <span slot="prev-nav">&lt; Previous</span>
        <span slot="next-nav">Next &gt;</span>
      </pagination>
    </section>
	</div>
</template>

<script type="text/javascript">
  export default {
    name: 'ManufacturerList',
    data: function() {
      return {
        historyList: {},
        base_url: "",
      }
    },
    mounted: function() {
      this.base_url = document.head.querySelector('meta[name="admin-base-url"]').content;
    }, 
    created() {
      // Fetch initial results
      this.getHistoryList();
    },   
    methods: {
      getHistoryList: function(page){
        if (typeof page === 'undefined') {
          page = 1;
        }
        var self = this;
        this.axios.get('/history?page='+page)
        .then(function(response){
          console.log(response);
          self.historyList = response.data.data;
          
        })
        .catch(function(error){
          console.log(error);
        });
      },
      deleteHistory: function(event, id, index){
        event.preventDefault();
        var url = this.base_url + 'history/' + id;
        var self = this;
        $.ajax({
          url: url,
          method: 'POST',
          data:{_method:"DELETE"},
          success: function(response){
            console.log(response);
            //window.location = admin_url + '/manufacturers/';
            self.$refs.toastr.s('History details deleted');
            //self.manufacturers.splice(index, 1);
            self.getHistoryList();

            /*setTimeout(function(){
              self.$router.push('/manufacturers');
            }, 2000);*/
          },
          error: function(response){
            console.log(response);
          }
        });
      }
    }
  }
</script>