<template>
     <div class="content-wrapper" style="min-height: 100%">
		<div class="content-header">
			<h1>New History</h1>
		</div>
		<vue-toastr ref="toastr"></vue-toastr>
		<section class="content">
			<div class="box box-danger card">
				<form role="form" @submit="submitForm($event)">
					<div class="box-body">
						<div class="row">
							<div class="form-group col-sm-12">
								<label>Name*</label>
								<input required="" class="form-control" type="text" name="name"/>
							</div>		
                        </div>
                        <div class="row">
							<div class="form-group col-sm-12">
								<label>Description</label>
								<textarea class="form-control" name="description">
								</textarea>
							</div>																		
						</div>
						<div class="row">
							<div class="form-group col-sm-12">
								<label>Slug</label>
								<input type="text" class="form-control" name="slug">
							</div>							
						</div>
						<div class="row">
							<div class="form-group col-sm-12">
								<button @click="cancelForm($event)" type="button" class="btn btn-default pull-right">Back</button>
								<button type="submit" class="btn btn-success pull-right" style="margin-right: 10px">Submit</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
</template>
<script>
export default {
  name: "NewHistory",
  methods: {
	submitForm: function(event) {
		event.preventDefault();		
		var formData = new FormData($('form')[0]);
		var url = document.head.querySelector('meta[name="admin-base-url"]').content;
		var self = this;
		this.axios.post('/history', formData)
			.then(function(response){
				console.log(response.status);
				if(response.status == 200){
					self.$refs.toastr.s('History details added');
					setTimeout(function(){
						self.$router.push('/history');
					}, 2000);
				}
			})
			.catch(function(error){
				console.log(error.response);
				if(error.response.data.meta.error_code == 400){
					$.each(error.response.data.meta.message, function(index, item){
						self.$refs.toastr.e(item);
					});	
				}
			});
	},
	cancelForm: function(event){
		this.$router.push('/history');
	}
  }
}
</script>
<style type="text/css" scoped="">
	input[type=file] {
		height: 100%;
	}
</style>