<template>
  <div class="content-wrapper">
    <section class="content-header">
        <h1>Tape Recorders
          <router-link class="fa fa-plus" to="/tape-recorders/submit-tape-recorder" style="margin-left: 10px" title="Add New Tape Recorder"></router-link>
        </h1>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-2"  v-for="tape_recorder, index in tape_recorders.data">
                <div class="card" style="background: white" @click="editForm(tape_recorder.id)">
                    <img class="img-responsive center-block" :src="tape_recorder.thumbnail" @error="showPlaceholder($event)" v-if="tape_recorder.thumbnail">
                    <img v-else class="img-responsive center-block" :src="defaultImage">
                    <p class="text-center">{{tape_recorder.manufacturer_name}} {{tape_recorder.model}}</p>
                    <p class="text-center">{{tape_recorder.brand_name}}</p>
                </div>    
            </div>
        </div>
        <pagination :data="tape_recorders" v-on:pagination-change-page="getTapeRecorders">
        <span slot="prev-nav">&lt; Previous</span>
        <span slot="next-nav">Next &gt;</span>
      </pagination>
    </section>
</div>
</template>

<script type="text/javascript">
export default {
  name: 'TapeRecorderList',
  data: function() {
    return {
        tape_recorders:{},
        base_url: "",
        defaultImage:''
    }
  },
  mounted: function() {
    this.defaultImage = this.$placeholder;
    this.getTapeRecorders();
    this.base_url = document.head.querySelector('meta[name="admin-base-url"]').content;
  },
  methods: {
    getTapeRecorders: function(page) {
        if(typeof page === "undefined"){
          page = 1;
        }
        var self = this;
        this.axios.get('/tape-recorders?page='+page)
        .then(function(response) {
            console.log(response);
            self.tape_recorders = response.data.data;
            console.log(self.tape_recorders);
        })
        .catch(function(response) {
            console.log(response);
        });
    },
    showPlaceholder: function(event){
        var target = $(event.target);
        target.attr('src', this.$placeholder);
    },
    editForm: function(id) {
        this.$router.push('/tape-recorders/'+id+'/edit');
    }
  }
}
</script>
<style type="text/css" scoped="">
    /*Media Query For Dynamic Data In Row*/
@media (min-width: 1200px) {
   .row .col-md-3:nth-child(4n+1) {
       clear: left;
   }
}

@media (min-width: 992px) and (max-width:1199px) {
   .row .col-md-4:nth-child(3n+1) {
       clear: left;
   }
}

@media (min-width: 768px) and (max-width:991px) {
   .row .col-sm-6:nth-child(2n+1) {
       clear: left;
   }
}

img {
  width: auto;
}

.text-center{
  margin-left:12px;
  white-space: nowrap;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
