<style type="text/css">
	.router-link-exact-active{
		color: #777 !important;
	}
</style>
<template>
	<div class="content-wrapper" >
		<vue-toastr ref="toastr"></vue-toastr>
		<div class="content-header">
			<h1>Edit Profile</h1>
		</div>
		<section class="content">
			<div class="box box-danger card">
				<form role="form" @submit="submitForm($event)" method="post">
					<input type="hidden" name="user_id" v-model="user.id">
					<div class="box-body">
						<div class="form-group">
							<label>Name*</label>
							<input type="text" name="name" required="" class="form-control" v-model="user.name">
						</div>
						<div class="form-group">
							<label>Email*</label>
							<input type="text" name="email" required="" class="form-control" v-model="user.email">
						</div>
						<div class="form-group">
							<label>Password</label>
							<input type="password" name="password" class="form-control">
						</div>
						<div class="form-group">
							<label>Confirm Password</label>
							<input type="password" name="confirm_password" class="form-control">
						</div>
						<div class="form-group">
							<label>Country*</label>
							<input type="text" name="country" required="" class="form-control" v-model="user.country">
						</div>
						<div class="form-group">
							<label>City</label>
							<input type="text" name="city" class="form-control" v-model="user.city">
						</div>
						<div class="form-group">
							<label>Profile Picture</label>
							<picture-input 
						      ref="pictureInput"
						      :prefill="user.profile_picture_url"
						      name="profile_picture"
						      @change="onChange"
						      :alertOnError="false"
						      width="300" 
						      height="300" 
						      accept="image/jpeg,image/png" 
						      size="10" 
						      buttonClass="btn"
						      :removable="true">
						    </picture-input>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-success">Save</button>
							<button @click="cancelForm($event)" type="button" class="btn btn-default">Back</button>
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
</template>

<script type="text/javascript">

export default {
  name: 'NewUserForm',
  data () {
    return {
    	image:'',
    	user:[],
    }
  },
  mounted(){
  	this.user = JSON.parse(Cookies.get().user);
  	console.log(this.user);
  },
  methods: {
  	submitForm:function(event){
  		event.preventDefault();
  		var formData = new FormData($('form')[0]);
  		formData.append('profile_picture', this.image);
  		var self = this;
  		this.axios.post('profile', formData).then(function(response){
			console.log(response);
			//return false;
			if(response.status == 200){
				Cookies.remove('user', '',{ path: '/profile' });
				Cookies.set('user', response.data.data);
				self.$refs.toastr.s("User Updated");
				setTimeout(function(){
					self.$router.push('/');
				}, 2000);				
			}
		}).catch(function(error){
			console.log(error.response);
			//return false;
			if(error.response.data.meta.error_code == 400){
				$.each(error.response.data.meta.message, function(index, item){
					self.$refs.toastr.e(item);
				});	
			}
		});	
  	},
    onChange (image) {
      console.log('New picture selected!')
      if (image) {
        console.log('Picture loaded.')
        this.image = image
        console.log(this.image);
      } else {
        console.log('FileReader API not supported: use the <form>, Luke!')
      }
    },
    cancelForm: function(event){
		this.$router.push('/');
	}
  }
}
</script>

