<template>
	<div class="content-wrapper">
		<section class="content-header">
      
	  </section>
    <section class="content">
      <div class="box box-danger card">
        <div class="box-header with-border">
          <h3>
            {{title}}
          </h3>
        </div>
        <vue-toastr ref="toastr"></vue-toastr>
        <div id="app">
          <table id="example" class="table pmd-table  display responsive nowrap" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="sort">S No.</th>
                <th class="sort">Picture</th>
                <th class="sort">Name</th>
                <th class="sort">Email</th>
                <th class="sort">Country</th>
                <th class="sort">City</th>
                <th class="sort">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="user, index in users.data">
                <td>{{index + 1}}</td>
                <td>
                  <img :src="user.profile_picture_url" @error="showPlaceholder($event)" width="80">
                </td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.country}}</td>
                <td>{{user.city}}</td>
                <a href="" @click="deleteUser($event, user.id, index)" class="btn btn-danger btn-sm">Delete</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <pagination :data="users" v-on:pagination-change-page="getUsers">
        <span slot="prev-nav">&lt; Previous</span>
        <span slot="next-nav">Next &gt;</span>
      </pagination>
    </section>
	</div>
</template>

<script type="text/javascript">
  export default {
    name: 'UserList',
    data: function() {
      return {
        users: {},
        base_url: "",
        title:''
      }
    },
    mounted: function() {
      this.getUsers();
    }, 
    watch: {
    // call again the method if the route changes
    '$route': 'getUsers'
    },
    methods: {
      getUsers: function(page){
        if (typeof page === 'undefined') {
          page = 1;
        }
        this.title = this.$route.query.title;
        var self = this;
        this.axios.get('/users?page=' + page + '&type=' + self.$route.query.type)
        .then(function(response){
          console.log(response);
          self.users = response.data.data;
        })
        .catch(function(error){
          console.log(error);
        });
      },
      deleteUser: function(event, id, index){
        event.preventDefault();
        var self = this;
        this.axios.post('/users/'+id, {_method:"DELETE"})
        .then(function(response) {
            console.log(response);
            if(response.status == 200){
              self.$refs.toastr.s('User deleted');
              self.getUsers();
            }
        })
        .catch(function(response) {
            console.log(response);
        });
      },
      showPlaceholder: function(event){
        $(event.target).attr('src', this.$placeholder);
      }
    }
  }
</script>