<template>
	
	<div class="content-wrapper" style="min-height: 100%">
		<div class="content-header">
			<h1>New Tape</h1>
		</div>
		<vue-toastr ref="toastr"></vue-toastr>
		<section class="content">
			<div class="box box-danger card">
				<form role="form" @submit="submitForm($event)">
					<div class="box-body">
						<div class="row">
							<div class="form-group col-sm-4">
								<label>Title/Composition*</label>
								<input required="" class="form-control" type="text" name="title_composition"/>
							</div>
							<div class="form-group col-sm-4">
								<label>Artist/Composer (First Name)*</label>
								<input required="" class="form-control" type="text" name="artist_composer_first_name" />
							</div>
							<div class="form-group col-sm-4">
								<label>Artist/Composer (Last Name)*</label>
								<input required="" class="form-control" type="text" name="artist_composer_last_name" />
							</div>
						</div>
						<div class="row">
							
							<div class="form-group col-sm-4">
								<label>Release Number*</label>
								<input required="" min="0" class="form-control" type="number" name="release_number"/>
							</div>
							<div class="form-group col-sm-4">
								<label>Release Date*</label>
								<Datepicker class="form-control" required="" value="" :config="configDate" name="release_date"></Datepicker>
							</div>
							<div class="form-group col-sm-4">
								<label>Label*</label>
								<input required="" class="form-control" type="text" name="label"/>
							</div>
						</div>
						<label>Images</label>
						<div class="row">
							<div class="col-sm-3 form-group">
								<label>Front Box*</label>
								<input required="" type="file" class="form-control" name="images[0]">
							</div>
							<div class="col-sm-3 form-group">
								<label>Rear Label</label>
								<input type="file" class="form-control" name="images[1]">
							</div>
							<div class="col-sm-3 form-group">
								<label>Back Box</label>
								<input type="file" class="form-control" name="images[2]">
							</div>
							<div class="col-sm-3 form-group">
								<label>Extra Image</label>
								<input type="file" class="form-control" name="images[3]">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-sm-3">
								<label>Classical*</label>
								<select required="" class="form-control" name="classical_id">
									<option value="">Select Classical</option>
									<option v-for="classical in classicals" :value="classical.id">{{classical.name}}</option>
								</select>
							</div>
							<div class="form-group col-sm-3">
								<label>Genre*</label>
								<select required="" class="form-control" name="genre_id">
									<option value="">Select Genre</option>
									<option v-for="genre in genres" :value="genre.id">{{genre.name}}</option>
								</select>
							</div>
							<div class="form-group col-sm-3">
								<label>Speed*</label>
								<select required="" class="form-control" name="speed_id">
									<option value="">Select Speed</option>
									<option v-for="speed in speeds" :value="speed.id">{{speed.name}}</option>
								</select>
							</div>
							<div class="form-group col-sm-3">
								<label>Reel Size*</label>
								<select required="" class="form-control" name="reel_size_id">
									<option value="">Select Reel Size</option>
									<option v-for="reel_size in reel_sizes" :value="reel_size.id">{{reel_size.name}}</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-sm-3">
								<label>Tracks</label>
								<select class="form-control" name="track_id">
									<option value="">Select Track</option>
									<option v-for="track in tracks" :value="track.id">{{track.name}}</option>
								</select>
							</div>
							<div class="form-group col-sm-3">
								<label>Channels</label>
								<select class="form-control" name="channel_id">
									<option value="">Select Channels</option>
									<option v-for="channel in channels" :value="channel.id">{{channel.name}}</option>
								</select>
							</div>
							<div class="form-group col-sm-3">
							<label>Noise Reduction</label>
							<select class="form-control" name="noise_reduction_id">
								<option value="">Select Noise Reduction</option>
								<option v-for="noise_reduction in noise_reductions" :value="noise_reduction.id">{{noise_reduction.name}}</option>
							</select>
							</div>
							<div class="form-group col-sm-3">
								<label>Duplicated By</label>
								<select class="form-control" name="duplication_id">
									<option value="">Select Duplicated By</option>
									<option v-for="duplication in duplications" :value="duplication.id">{{duplication.name}}</option>
								</select>
							</div>
						</div>
						<label>Credits</label>
						<div class="row">
							<div class="form-group col-sm-3">
								<label>Musician/Composer</label>
								<textarea class="form-control" name="credits[musician]" rows="3" style="margin-bottom: 10px"></textarea>
							</div>
							<div class="form-group col-sm-3">
								<label>Credit</label>
								<textarea class="form-control" name="credits[credit]" rows="3" style="margin-bottom: 10px"></textarea>
							</div>
							<div class="form-group col-sm-6">
								<label>Description</label>
								<textarea class="form-control" name="description" rows="3" style="margin-bottom: 10px"></textarea>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-sm-6">
								<label>Track List (A)</label>
								<table class="table">
									<thead>
										<tr>
											<th>Title</th>
											<th>Time</th>
										</tr>
									</thead>
									<tbody v-for="(trackObject, index) in trackObjectsSideA">
										<tr>
											<td><input type="text" :name="'tracks[a]['+index+'][title]'" v-model="trackObject.name" class="form-control" /></td>
											<td><Datepicker class="form-control" :config="configTime" :name="'tracks[a]['+index+'][time_length]'" v-model="trackObject.time"></Datepicker></td>
											<input type="hidden" :name="'tracks[a]['+index+'][side]'" value="a">
										</tr>
									</tbody>
								</table>
							</div>
							<div class="form-group col-sm-6">
								<label>Track List (B)</label>
								<table class="table">
									<thead>
										<tr>
											<th>Title</th>
											<th>Time</th>
										</tr>
									</thead>
									<tbody v-for="(trackObject, index) in trackObjectsSideB">
										<tr>
											<td><input type="text" :name="'tracks[b]['+index+'][title]'" v-model="trackObject.name" class="form-control" /></td>
											<td><Datepicker class="form-control" :config="configTime" :name="'tracks[b]['+index+'][time_length]'" v-model="trackObject.time"></Datepicker></td>
											<input type="hidden" :name="'tracks[b]['+index+'][side]'" value="b">
										</tr>
									</tbody>
								</table>
								<button @click="cancelForm($event)" type="button" class="btn btn-default pull-right">Back</button>
								<button type="submit" class="btn btn-success pull-right" style="margin-right: 10px">Submit</button>
							</div>
						</div>
					</div>
				</form>
			</div>	
		</section>
	</div>

</template>

<script type="text/javascript">

import Datepicker from 'vue-bootstrap-datetimepicker';

function newTrackObject() {
	return {name: "", time: ""};
}
export default {
	name: "NewTapeForm",
	components:{
		Datepicker
	},
	data: function() {
		return  {
			tracks: [],
			genres: [],
			classicals: [],
			speeds: [],
			channels: [],
			reel_sizes: [],
			noise_reductions: [],
			duplications: [],
			master_duplication: [],
			trackObjectsSideA: [],
			trackObjectsSideB: [],
			configTime: {
	          format: 'hh:mm',
	          useCurrent: false,
	        },
	        configDate: {
	          format: 'DD/MM/YYYY',
	          useCurrent: false,
	        }
		}
	},
	mounted: function() {
		this.getMasterData();
	},
	methods: {
		getMasterData: function() {
			var self = this;
			this.axios.get('/master-data/tapes').then(function(response){
				var data = response.data.data;
				self.tracks = data.tracks;
				self.genres = data.genres;
				self.classicals = data.classicals;
				self.speeds = data.speeds;
				self.channels = data.channels;
				self.reel_sizes = data.reel_sizes;
				self.noise_reductions = data.noise_reductions;
				self.duplications = data.duplications;
				for(var i=0; i<10; i++) {
					self.trackObjectsSideA.push(newTrackObject());
					self.trackObjectsSideB.push(newTrackObject());
				}
				//fix sidebar
				self.$nextTick(function(){
				   $('.main-sidebar').css('min-height', $('#app').height());
				});
			});
		},
		submitForm: function(event) {
			event.preventDefault();
			var formData = new FormData($('form')[0]);
			var self = this;
			var error = false;

			$('input[type=file]').each(function(index, field){
				console.log(field.files[0]);
				if(field.files[0] && field.files[0].size > 2000000){
					self.$refs.toastr.s('File size cannot be greater than 2MB');
					error = true;
				}
			});

			if(error) return;
			
			this.axios.post('/tapes', formData).then(function(response){
				console.log(response);
				if(response.data.meta.http_code == 200){
					self.$refs.toastr.s('Tape details added');
					setTimeout(function(){
						self.$router.push('/tapes');
					}, 2000);
				}			
			}).catch(function(error){
				console.log(error);
				if(error.response.data.meta.error_code == 400){
					$.each(error.response.data.meta.message, function(index, item){
						self.$refs.toastr.e(item);
					});	
				}
			});
		},
		cancelForm: function(event) {
			event.preventDefault();
			// location.href = document.head.querySelector('meta[name="previous-url"]').content;
			this.$router.push('/tapes');
		}/*,
		customFormatter(date) {
      		return moment(date).format('h:mm');
    	}*/
	}
}
</script>
<style type="text/css" scoped="">
	.table > tbody + tbody {
		border-top: 0px;
	}
	input[type=file] {
		height: 100%;
	}
</style>