<template>
  <div class="content-wrapper">
    <section class="content-header">
        <h1>
          {{title}}
          <router-link class="fa fa-plus" :to="{ path: '/catalogs/create', query:{ type: type, title: title }}" style="margin-left: 10px" title="Add New Catalog"></router-link>
        </h1>
    </section>
    <section class="content">
       
        <div class="row">
            <div class="col-md-2"  v-for="catalog, index in catalogs.data">
                <div class="card" style="background: white; margin-top: 15px" @click="editForm(catalog.id)">
                    <img v-if="catalog.thumbnail_image" class="img-responsive center-block" :src="catalog.thumbnail_image" @error="showPlaceholder($event)">
                    <img v-else class="img-responsive center-block" :src="defaultImage">
                    <p class="text-center">{{catalog.title}}</p>
                </div>    
            </div>
            
        </div>
        <pagination v-on:data="catalogs" v-on:pagination-change-page="getCatalogs">
          <span slot="prev-nav">&lt; Previous</span>
          <span slot="next-nav">Next &gt;</span>
        </pagination>
        
    </section>
</div>
</template>

<script type="text/javascript">

export default {
  name: 'CatalogList',
  data: function() {
    return {
        catalogs:{},
        title:'',
        type: '',
        defaultImage:''

    }
  },
  mounted: function() {
    this.defaultImage = this.$placeholder;
    this.getCatalogs();
  },
  watch: {
    // call again the method if the route changes
    '$route': 'getCatalogs'
  },
  methods: {
    getCatalogs: function(page) {
        if (typeof page === 'undefined') {
          page = 1;
        }
        var self = this;
        self.title = this.$route.query.title;
        self.type = this.$route.query.type;
        //console.log('/catalogs?page=' + page+'&type='+this.type);
        this.axios.get('/catalogs?page=' + page+'&type='+self.$route.query.type)
        .then(function(response) {
            self.catalogs = response.data.data; //because, well, laravel paginaton
            console.log(self.catalogs);
        })
        .catch(function(response) {
            console.log(response);
        });
    },

    showPlaceholder: function(event){
        var target = $(event.target);
        target.attr('src', this.$placeholder);
    },

    editForm: function(id) {
        this.$router.push('/catalogs/'+id+'/edit?type=' + this.type +'&title=' + this.title);
    }
  }
}
</script>
<style type="text/css" scoped="">
    /*Media Query For Dynamic Data In Row*/
@media (min-width: 1200px) {
   .row .col-md-3:nth-child(4n+1) {
       clear: left;
   }
}

@media (min-width: 992px) and (max-width:1199px) {
   .row .col-md-4:nth-child(3n+1) {
       clear: left;
   }
}

@media (min-width: 768px) and (max-width:991px) {
   .row .col-sm-6:nth-child(2n+1) {
       clear: left;
   }
}

img {
    width: auto;
    
}

.text-center{
  margin-left:12px;
  white-space: nowrap;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
