<template>
	<div class="content-wrapper" >
		<vue-toastr ref="toastr"></vue-toastr>
		<div class="content-header">
			<h1>Edit Catalog</h1>
		</div>
		<div id="overlay" v-show="loading">
			<img :src="loaderUrl">
		</div>
		<section class="content">
			<div class="box box-danger card">
				<form role="form" @submit="submitForm($event)" method="post">
					<div class="box-body">
						<input type="hidden" name="cover_image_id" v-model="catalog.cover_image_id">
						<div class="form-group">
							<label>Title*</label>
							<input type="text" name="title" class="form-control" required="" v-model="catalog.title">
						</div>
						<div class="form-group">
							<label>Description</label>
							<textarea class="form-control" name="description" v-model="catalog.description"></textarea>
						</div>
						<div class="form-group">
							<label>Cover Picture*</label>
							<div class="row">
								<div class="col-md-8">
									<picture-input 
								      ref="pictureInput"
								      :prefill="catalog.cover_image"
								      name="cover_picture"
								      @change="onChange" 
								      @remove="onRemoveCover" 
								      width="300" 
								      height="300" 
								      accept="image/jpeg,image/png" 
								      size="10" 
								      buttonClass="btn"
								      :removable="true">
								    </picture-input>
							    </div>
						    </div>
						</div>
						<div class="form-group">
							<label>Other Picture</label>
							<a @click="addMoreImage($event)" class="btn btn-sm btn-danger pull-right" title="Add More"><i class="fa fa-plus"></i></a>
							<div class="row">
								<div class="col-md-2" v-for="catalogOtherImage, index of catalogOtherImages">
									<picture-input
								      ref="pictureInput"
								      :prefill="catalogOtherImage.other_image"
								      @change="onChangeOthers" 
								      :id="catalogOtherImage.id"
								      @remove="onRemoveOthers" 
								      width="300" 
								      height="300" 
								      accept="image/jpeg,image/png" 
								      size="10" 
								      buttonClass="btn"
								      :removable="true">
								    </picture-input>
								</div>
								
								<div class="col-md-2" v-for="otherImage, key of otherImages">
									<picture-input
								      ref="pictureInput"
								      :id="'id-'+otherImage.id"
								      @change="onChangeOthers"
								      @remove="onRemoveOthers" 
								      width="300" 
								      height="300" 
								      accept="image/jpeg,image/png" 
								      size="10" 
								      buttonClass="btn"
								      :removable="true">
								    </picture-input>
								</div> 
						   </div> 
						</div>
						<div class="form-group">
							<input type="submit" name="submit" value="Save" class="btn btn-sm btn-danger">
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
</template>

<script type="text/javascript">
export default {
  name: 'EditCatalogForm',
  data () {
    return {
    	loading:false,
    	uploadedCoverImage:'',
    	otherImages:[],
    	uploadedOtherImages:[],
    	catalogTypes:[],
    	catalog:[],
    	catalogOtherImages:[],
    	type:'',
    	title: '',
    }
  },
  mounted(){
  	this.getCatelogTypes();
  	this.getCatelog();
  	this.getCatelogOtherImages();
  	this.title = this.$route.query.title;
    this.type = this.$route.query.type;
  },
  methods: {
  	getCatelog:function(){
  		var self = this;
  		this.axios.get('/catalogs/'+self.$route.params.id).then(function(response){
			console.log(response);
			self.catalog = response.data.data;
			self.uploadedCoverImage = self.catalog.cover_image;
			//var data = response.data.data;
		}).catch(function(response){
			console.log(response);
		});
  	},
  	getCatelogOtherImages:function(){
  		var self = this;
  		this.axios.get('/catalogs/'+self.$route.params.id+'/other-images').then(function(response){
			console.log(response);
			//return false;
			self.catalogOtherImages = response.data.data;
			$.each(self.catalogOtherImages, function(index, item){
				self.uploadedOtherImages.push(item);
			});
			if(self.uploadedOtherImages.length == 0){
				self.otherImages.push({});
			}
			//console.log(self.uploadedOtherImages.length);
			//
			//var data = response.data.data;
		}).catch(function(response){
			console.log(response);
		});
  	},
  	getCatelogTypes:function(){
  		var self = this;
  		this.axios.get('catelog-types').then(function(response){
			console.log(response);
			self.catalogTypes = response.data;
			//var data = response.data.data;
		}).catch(function(response){
			console.log(response);
		});	
  	},
  	submitForm:function(event){
  		event.preventDefault();
  		if(!this.uploadedCoverImage){
  			this.$refs.toastr.e("Cover picture is required.");
  			return false;
  		}
  		//return false;
  		this.loading = true;
  		$(".picture-input").css('opacity', 0);
  		var formData = new FormData($('form')[0]);
  		formData.append('type', this.type);
  		formData.append('cover_picture', this.uploadedCoverImage);
  		formData.append('_method', 'PUT');

  		$.each(this.uploadedOtherImages, function(index, item){
  			var imageId = item.id;
  			if(typeof imageId == "string"){
  				if(imageId.search("id") !== -1){
  					item.id = '';
  				}
  			}	
  			formData.append('other_pictures['+index+']',  JSON.stringify(item));
  		});
  		var self = this;
  		var url = document.head.querySelector('meta[name="admin-base-url"]').content;
		this.axios.post('/catalogs/'+self.$route.params.id, formData).then(function(response){
			console.log(response);
			self.loading = false;
			$(".picture-input").css('opacity', 1);
			if(response.status == 200){
				self.$refs.toastr.s("Catalog Updated");
				setTimeout(function(){
					self.$router.push("/catalogs?type="+self.type+'&title='+self.title);
				}, 2000);
			}
			//var data = response.data.data;
		}).catch(function(error){
			console.log(error.response);
			self.loading = false;
			if(error.response.data.meta.error_code == 400){
				$.each(error.response.data.meta.message, function(index, item){
					self.$refs.toastr.e(item);
				});	
			}
			//self.$refs.toastr.e("Catalog Does Not Updated");
		});	
  	},
  	addMoreImage:function(event){
  		var imageAndIdObject = {'id':this.otherImages.length, 'other_image':''}
  		this.otherImages.push(imageAndIdObject);
  	},
    onChange (image, e) {
      //console.log('New picture selected!')
      if (image) {
        //console.log('Picture loaded.')
        this.uploadedCoverImage = image
        //console.log(this.uploadedCoverImage);
      } else {
        console.log('FileReader API not supported: use the <form>, Luke!')
      }
    },
    onChangeOthers(image, e){
    	if (image) {
    		var id = '';
    		if(e){
    			id = e.target.id;
    		}
    		var imageAndIdObject = {'id':id, 'other_image':image}
    		this.uploadedOtherImages.push(imageAndIdObject);
    		//console.log(this.uploadedOtherImages);
	    	//console.log(this.uploadedOtherImages);
      	} else {
        	console.log('FileReader API not supported: use the <form>, Luke!')
      	}
    },
    onRemoveOthers(e){
    	var id = $(e.target).data('id');
    	if(id){
    		var uploadedOtherImagesAfterRemoveImage = [];
    		$.each(this.uploadedOtherImages, function(index, item){
    			if(item.id !== id){
    				uploadedOtherImagesAfterRemoveImage.push(item);
    			}
    		});
    		this.uploadedOtherImages = uploadedOtherImagesAfterRemoveImage;
    	}
    },
    onRemoveCover(e){
    	this.uploadedCoverImage = '';
    }
  }
}
</script>

<style type="text/css">
	.image-panel{
		margin: 10px 0px 10px 0px;
	}
</style>

