<template>
	<div class="content-wrapper" >
		<vue-toastr ref="toastr"></vue-toastr>
		<div class="content-header">
			<h1>New {{title}}</h1>
		</div>
		<section class="content">
			<div class="box box-danger card">
				<form role="form" @submit="submitForm($event)" method="post">
					<input type="hidden" name="backend" value="1">
					<div class="box-body">
						<div class="form-group">
							<label>Title*</label>
							<input type="text" name="title" required="" class="form-control">
						</div>
						<div class="form-group">
							<label>Description</label>
							<textarea class="form-control" name="description"></textarea>
						</div>
						<div class="form-group">
							<label>Cover Picture*</label>
							<picture-input 
						      ref="pictureInput"
						      name="cover_picture"
						      @change="onChange" 
						      width="300" 
						      height="300" 
						      accept="image/jpeg,image/png" 
						      size="10" 
						      buttonClass="btn"
						      :removable="true">
						    </picture-input>
						</div>

						<div class="form-group">
							<label>Other Picture</label>
							<a @click="addMoreImage($event)" class="btn btn-sm btn-danger pull-right" title="Add More"><i class="fa fa-plus"></i></a>
							<div class="row">
            					<div class="col-md-2" v-for="otherImage, index of otherImages">
									<picture-input
								      ref="pictureInput"
								      @change="onChangeOthers" 
								      width="300" 
								      height="300" 
								      accept="image/jpeg,image/png" 
								      size="10" 
								      buttonClass="btn"
								      :removable="true">
								    </picture-input>
								</div>    
						   </div> 
						</div>
						<!-- <div class="form-group row">
							<div class="col-md-4">
							<label>Type*</label>
							<select name="type" id="catalog-type" class="form-control" required="" v-model="type">
								<option value="">Select Type</option>
								<option v-for="catalogType, index of catalogTypes" :value="catalogType.id">{{catalogType.name}}</option>
							</select>
							</div>
						</div> -->
						<div class="form-group">
							<input type="submit" name="submit" value="Save" class="btn btn-sm btn-danger">
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
</template>

<script type="text/javascript">

export default {
  name: 'NewCatalogForm',
  data () {
    return {
    	image:'',
    	otherImages:[],
    	uploadedOtherImages:[],
    	catalogTypes:[],
    	type:'',
    	title: '',
    }
  },
  mounted: function(){
  	this.otherImages.push({0:''});
  	this.getData();
  },
  methods: {
  	getData: function(){
  		var self = this;
  		self.title = this.$route.query.title;
    	self.type = this.$route.query.type;
  	},
  	submitForm:function(event){
  		event.preventDefault();
  		var formData = new FormData($('form')[0]);
  		formData.append('cover_picture', this.image);
  		formData.append('type', this.type);
  		$.each(this.uploadedOtherImages, function(index, item){
  			formData.append('other_pictures['+index+']', item);
  		});

  		var self = this;
  		var url = document.head.querySelector('meta[name="admin-base-url"]').content;
		this.axios.post('/catalogs', formData).then(function(response){
			console.log(response);
			if(response.status == 200){
				self.$refs.toastr.s("Catalog Added");
				setTimeout(function(){
					self.$router.push("/catalogs?type="+self.type+'&title='+self.title);
				}, 2000);
			}
			
			//var data = response.data.data;
		}).catch(function(error){
			//self.$refs.toastr.s("Catalog Does Not Added");
			console.log(error.response);
			if(error.response && error.response.data.meta.error_code == 400){
				$.each(error.response.data.meta.message, function(index, item){
					self.$refs.toastr.e(item);
				});	
			}
		});	
  	},
  	addMoreImage:function(event){
  		console.log('click');
  		var totalOtherImages = 0;
  		$.each(this.otherImages, function(item, index){
  			totalOtherImages++;
  		});
  		this.otherImages.push({totalOtherImages:''});
  	},
    onChange (image) {
      console.log('New picture selected!')
      if (image) {
        console.log('Picture loaded.')
        this.image = image
        console.log(this.image);
      } else {
        console.log('FileReader API not supported: use the <form>, Luke!')
      }
    },
    onChangeOthers(image){
    	//console.log(index);
    	if (image) {
    		this.uploadedOtherImages.push(image);
	    	console.log(this.uploadedOtherImages);
      	} else {
        	console.log('FileReader API not supported: use the <form>, Luke!')
      	}
    }
  }
}
</script>

