<template>
	<div class="content-wrapper" >
		<vue-toastr ref="toastr"></vue-toastr>
		<div class="content-header">
			<h1>New User</h1>
		</div>
		<section class="content">
			<div class="box box-danger card">
				<form role="form" @submit="submitForm($event)" method="post">
					<div class="box-body">
						<div class="form-group">
							<label>Name*</label>
							<input type="text" name="name" required="" class="form-control">
						</div>
						<div class="form-group">
							<label>Email*</label>
							<input type="text" name="email" required="" class="form-control">
						</div>
						<div class="form-group row">
							<label>Type*</label>
							<select name="type" id="user-type" class="form-control" required="" v-model="type">
								<option value="">Select Type</option>
								<option v-for="userType, index of userTypes" :value="userType.id">{{userType.type}}</option>
							</select>
						</div>
						<div class="form-group">
							<label>Country*</label>
							<input type="text" name="country" required="" class="form-control">
						</div>
						<div class="form-group">
							<label>City*</label>
							<input type="text" name="city" required="" class="form-control">
						</div>
						<div class="form-group">
							<label>Profile Picture</label>
							<picture-input 
						      ref="pictureInput"
						      name="profile_picture"
						      @change="onChange" 
						      width="300" 
						      height="300" 
						      accept="image/jpeg,image/png" 
						      size="10" 
						      buttonClass="btn"
						      :removable="true">
						    </picture-input>
						</div>
						<div class="form-group">
							<input type="submit" name="submit" value="Save" class="btn btn-sm btn-danger">
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
</template>

<script type="text/javascript">

export default {
  name: 'NewUserForm',
  data () {
    return {
    	image:'',
    	userTypes:[],
    	type:''
    }
  },
  mounted(){
  	this.getUserTypes();
  },
  methods: {
  	getUserTypes:function(){
  		var self = this;
  		this.axios.get('user-types').then(function(response){
			console.log(response);
			self.userTypes = response.data;
		}).catch(function(response){
			console.log(response);
		});	
  	},
  	submitForm:function(event){
  		event.preventDefault();
  		var formData = new FormData($('form')[0]);
  		formData.append('profile_picture', this.image);
  		var self = this;
  		this.axios.post('/users', formData).then(function(response){
			console.log(response);
			if(response.status == 200){
				self.$refs.toastr.s("User Added");
				setTimeout(function(){
					self.$router.push("/users?type="+self.type);
				}, 2000);
			}
		}).catch(function(error){
			if(error.response.data.meta.error_code == 400){
				$.each(error.response.data.meta.message, function(index, item){
					self.$refs.toastr.e(item);
				});	
			}
		});	
  	},
    onChange (image) {
      console.log('New picture selected!')
      if (image) {
        console.log('Picture loaded.')
        this.image = image
        console.log(this.image);
      } else {
        console.log('FileReader API not supported: use the <form>, Luke!')
      }
    }
  }
}
</script>

