<template>
  <div class="content-wrapper">
    <section class="content-header">
      
    </section>
    <section class="content">
      <div class="box box-danger card">
        <div class="box-header with-border">
          <h3>
            Brands
          </h3>
          <p class="">
          <router-link :to="{ path: '/brands/create'}" class="btn btn-warning"> New Brand</router-link>
          </p>
        </div>
        <vue-toastr ref="toastr"></vue-toastr>
        <div id="app">
          <table id="example" class="table pmd-table  display responsive nowrap" cellspacing="0" width="100%">
            <thead>
              <tr>
                <th class="sort">S No.</th>
                <th class="sort">Name</th>
                <th class="sort">Location</th>
                <th class="sort">Year(from)</th>
                <th class="sort">Year(to)</th>
                <th class="sort">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="brand, index in brands.data">
                <td>{{index + 1}}</td>
                <td>{{brand.name}}</td>
                <td>{{brand.location}}</td>
                <td>{{brand.year_from}}</td>
                <td>{{brand.year_to}}</td>
                <td><router-link :to="{ path: '/brands/'+brand.id+'/edit'}" class="btn btn-sm btn-warning">Edit</router-link>
                <a href="" @click="deleteBrand($event, brand.id, index)" class="btn btn-sm btn-danger">Delete</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <pagination :data="brands" v-on:pagination-change-page="getBrands">
        <span slot="prev-nav">&lt; Previous</span>
        <span slot="next-nav">Next &gt;</span>
      </pagination>
    </section>
  </div>
</template>

<script type="text/javascript">
  export default {
    name: 'BrandList',
    data: function() {
      return {
        brands: {},
        base_url: "",
      }
    },
    mounted: function() {
      this.getBrands();
      this.base_url = document.head.querySelector('meta[name="admin-base-url"]').content;
    },    
    methods: {
      getBrands: function(page){
        if (typeof page === 'undefined') {
          page = 1;
        }
        var self = this;
        this.axios.get('/brands?page='+page)
        .then(function(response){
          self.brands = response.data.data;
          console.log(response.data);
        })
        .catch(function(error){
          console.log(error);
        });
      },
      deleteBrand: function(event, id, index){
        event.preventDefault();
        var url = this.base_url + 'brands/' + id;
        var self = this;
        $.ajax({
          url: url,
          method: 'POST',
          data:{_method:"DELETE"},
          success: function(response){
            console.log(response);
            self.$refs.toastr.s('Brand deleted');
            self.getBrands();
            //window.location = admin_url + '/brands/';
          },
          error: function(response){
            console.log(response);
          }
        });
      }
    }
  }
</script>