<template>
     <div class="content-wrapper" style="min-height: 100%">
		<div class="content-header">
			<h1>Edit Brand</h1>
		</div>
		<vue-toastr ref="toastr"></vue-toastr>
		<section class="content">
			<div class="box box-danger card">
				<form role="form" @submit="submitForm($event)">
					<div class="box-body">
						<input type="hidden" name="_method" value="PUT">
						<div class="row">
							<div class="form-group col-sm-6">
								<label>Name*</label>
								<input required="" class="form-control" type="text" name="name" v-model="brand.name"/>
							</div>
							<div class="form-group col-sm-6">
								<label>Location*</label>
								<input required="" class="form-control" type="text" name="location" v-model="brand.location"/>
							</div>		
                        </div>
                        <div class="row">
                        	<div class="form-group col-sm-4">
								<label>Manufacturer*</label>
								<select class="form-control" name="manufacturer_id" v-model="brand.manufacturer_id" required="">
									<option value="">Select Manufacturer</option>
									<option v-for="manufacturer in manufacturers" :value="manufacturer.id">{{manufacturer.name}}</option>
								</select>
							</div>
							<div class="form-group col-sm-4">
								<label>Year in business from*</label>
								<input class="form-control" type="number" name="year_from" v-model="brand.year_from" required="" />
							</div>																		
                            <div class="form-group col-sm-4">
								<label>Year in business to*</label>
								<input class="form-control" type="number" name="year_to" v-model="brand.year_to" required="" />
							</div>
						</div>
						<div class="row">
							<div class="form-group col-sm-12">
								<label>Company Description</label>
								<textarea class="form-control" name="description" v-model="brand.description"></textarea>
							</div>							
						</div>
						<div class="row">
							<div class="form-group col-sm-12">
								<label>Technical Innovation</label>
								<textarea class="form-control" name="innovations" v-model="brand.innovations"></textarea>
							</div>							
						</div>
						<div class="row">
							<div class="form-group col-sm-12">
								<label>General Information</label>
								<textarea class="form-control" name="information" v-model="brand.information"></textarea>
							</div>							
						</div>
                        <label>Images:</label>
                        <div class="row">
                        	<div class="col-sm-4 form-group">
								<label>Founder*</label>
								<div v-if="founder.image">
									<img :src="founder.image" class="img-responsive center-block" height="100" width="100">
									<input type="file" class="form-control" name="founder" accept="image/jpeg,.jpg,.png">
								</div>
								<div v-else>
									<input required="" type="file" class="form-control" name="founder" accept="image/jpeg,.jpg,.png">
								</div>
							</div>
                            <div class="col-sm-4 form-group">
								<label>Image 1</label>
								<div v-if="images[0]">
									<img :src="images[0].image" class="img-responsive center-block" height="100" width="100">
									<input type="file" class="form-control" name="images[0]" accept="image/jpeg,.jpg,.png">
								</div>
								<div v-else>
									<input type="file" class="form-control" name="images[0]" accept="image/jpeg,.jpg,.png">
								</div>
							</div>
							<div class="col-sm-4 form-group">
								<label>Image 2</label>
								<div v-if="images[1]">
									<img :src="images[1].image" class="img-responsive center-block" height="100" width="100">
									<input type="file" class="form-control" name="images[1]" accept="image/jpeg,.jpg,.png">
								</div>
								<div v-else>
									<input type="file" class="form-control" name="images[1]" accept="image/jpeg,.jpg,.png">
								</div>
							</div>
                        </div>
						<div class="row">
							<div class="form-group col-sm-12">
								<button @click="cancelForm($event)" type="button" class="btn btn-default pull-right">Back</button>
								<button type="submit" class="btn btn-success pull-right" style="margin-right: 10px">Update</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
</template>
<script>
export default {
  name: "EditBrandForm",
  data: function(){
	  return {
	  	  base_url: "",
	  	  founder: "",
	  	  images: [],
	  	  manufacturers: [],
		  brand: {
		  	name: "",
		  	location: "",
		  	year_from: 0,
		  	year_to: 0,
		  	description: "",
		  	innovations: "",
		  	information: "",
		  	images: [],
		  	manufacturer_id:''
		  }
	  }
  },
  mounted: function(){
  	this.getbrandData();
  	this.getManufacturers();
  	this.base_url = document.head.querySelector('meta[name="base-url"]').content;
  },
  methods: {
	getbrandData: function(){
		var self = this;
		var i = 0;
		this.axios.get('/brands/' + self.$route.params.id)
			.then(function(response){
				self.brand = response.data.data;
				self.images = self.brand.images;
				console.log(self.brand);
				if(self.images[0] && self.images[0].type == 0){
					self.founder = self.images[0];
					self.images.shift();
				}
			})
			.catch(function(response){
				console.log(response);
			});
	},
	getManufacturers: function(){
        var self = this;
        this.axios.get('/manufacturers/')
        .then(function(response){
          self.manufacturers = response.data.data;
          console.log(response);
        })
        .catch(function(error){
          console.log(error);
        });
    },
	showPlaceholder: function(event){
        var target = $(event.target);
        target.attr('src', this.$placeholder);
    },
	submitForm: function(event) {
		event.preventDefault();
		var from_year = $('input[name="year_from"]').val();
		var to_year = $('input[name="year_to"]').val();
		if(parseInt(to_year) - parseInt(from_year) <= 0){
			this.$refs.toastr.e("value of Year make records to cannot be less than Year make records from");
			return;
		}
		var formData = new FormData($('form')[0]);
		var self = this;
		var error = false;

		$('input[type=file]').each(function(index, field){
			console.log(field.files);
			if(field.files[0] && field.files[0].size > 2000000){
				self.$refs.toastr.s('File size cannot be greater than 2MB');
				error = true;
			}
		});

		if(error) return;
		

		this.axios.post('/brands/' + self.$route.params.id, formData)
			.then(function(response){
				console.log(response);
				if(response.status == 200){
					self.$refs.toastr.s('Brand details updated');
					setTimeout(function(){
						self.$router.push('/brands');
					}, 2000);
				}
			})
			.catch(function(error){
				console.log(error.response);
				if(error.response && error.response.data.meta.error_code == 400){
					$.each(error.response.data.meta.message, function(index, item){
						self.$refs.toastr.e(item);
					});	
				}
			});
	},
	cancelForm: function(event){
		this.$router.push('/brands');
	}
	// deleteImage: function(event, id){
	// 	var target = $(event.target);
	// 	target.closest('.col-sm-4').children('.image_upload_div').css('display','block');
	// 	target.parent().remove();
	// 	var self = this;
	// 	this.axios.post('brands/images/' + id + '/delete')
	// 	.then(function(response){
	// 		console.log(response);
	// 	})
	// 	.catch(function(response){
	// 		console.log(response);
	// 	})
	// }
  }
}
</script>
<style type="text/css" scoped="">
	input[type=file] {
		height: 100%;
	}
</style>