<template>
  <div class="content-wrapper" style="min-height: 100%">
		<div class="content-header">
			<h1>Edit Input Expander</h1>
		</div>
		<vue-toastr ref="toastr"></vue-toastr>
		<section class="content">
			<div class="box box-danger card">
				<form role="form" @submit="submitForm($event)">
					<div class="box-body">
						<div class="row">
							<div class="form-group col-sm-6">
								<label>Model*</label>
								<input required="" class="form-control" type="text" name="model" v-model="expander.model"/>
							</div>
							<div class="form-group col-sm-6">
								<label>Brand*</label>
								<select  class="form-control" name="brand_id" v-model="expander.brand_id" required="">
									<option value="">Select Brand</option>
									<option v-for="brand in brands" :value="brand.id">{{brand.name}}</option>
								</select>
							</div>		
						</div>
						<label>Images</label>
						<div class="row">
							<div class="col-sm-3 form-group">
								<label>Image 1*</label>
								<br/>
								<div v-if="expander.images">
									<img v-if="expander.images[0]" :src="expander.images[0].thumbnail" height="100" width="100"/>
									<input type="file" class="form-control" name="images[0]">
								</div>
								<div v-else>
									<input required="" type="file" class="form-control" name="images[0]">	
								</div>
							</div>
							<div class="col-sm-3 form-group">
								<label>Image 2</label>
								<br/>
								<div v-if="expander.images">
									<img v-if="expander.images[1]" :src="expander.images[1].thumbnail" height="100" width="100"/>
								</div>
								<input type="file" class="form-control" name="images[1]">
							</div>
							<div class="col-sm-3 form-group">
								<label>Image 3</label>
								<br/>
								<div v-if="expander.images">
									<img v-if="expander.images[2]" :src="expander.images[2].thumbnail" height="100" width="100"/>
								</div>
								<input type="file" class="form-control" name="images[2]">
							</div>
							<div class="col-sm-3 form-group">
								<label>Image 4</label>
								<br/>
								<div v-if="expander.images">
									<img v-if="expander.images[3]" :src="expander.images[3].thumbnail" height="100" width="100"/>
								</div>
								<input type="file" class="form-control" name="images[3]">
							</div>
						</div>
						
						<div class="row">
							<div class="form-group col-sm-3">
								<label>Main Image*</label>
								<select required="" class="form-control" name="main_image" v-model="expander.main_image">
									<option value="0">Pic 1</option>
									<option value="1">Pic 2</option>
									<option value="2">Pic 3</option>
									<option value="3">Pic 4</option>
								</select>
							</div>
							<div class="form-group col-sm-3">
								<label>Tape Recorders Usable</label>
								<input class="form-control" type="number" name="tape_recorders_usable" v-model="expander.tape_recorders_usable"/>
							</div>
							<div class="form-group col-sm-3">
								<label>Outputs for Record(1-10)</label>
								<input class="form-control" type="number" name="outputs_for_record" v-model="expander.outputs_for_record"/>
							</div>
							<div class="form-group col-sm-3">
								<label>Tape Copy Option(# Decks)</label>
								<input class="form-control" type="number" name="copy_option_decks" v-model="expander.copy_option_decks"/>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-sm-12">
								<button @click="cancelForm($event)" type="button" class="btn btn-default pull-right">Back</button>
								<button type="submit" class="btn btn-success pull-right" style="margin-right: 10px">Submit</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
</template>
<script>
export default {
  name: "EditTapeRecorderForm",
  data: function() {
	  return{
	  		expander:{},
			brands: [],
	  }
  },
  mounted: function(){
  	this.getInputExpander();
  	this.getBrands();
  },
  methods: {
  	getInputExpander:function(){
  		var self = this;
        this.axios.get('input-expanders/'+this.$route.params.id)
        .then(function(response){
          	//console.log(response.data);
          	//return false;
          	self.expander = response.data;
          	if(self.expander.brand_id == null){
				self.expander.brand_id = '';
			}
        })
        .catch(function(error){
          console.log(error);
        });
  	},
  	getBrands: function(){
  		var self = this;
        this.axios.get('brands')
        .then(function(response){
          console.log(response);
          self.brands = response.data.data;
        })
        .catch(function(error){
          console.log(error);
        });
  	},
	submitForm: function(event) {
		event.preventDefault();
		var formData = new FormData($('form')[0]);
		var self = this;
		var error = false;

		$('input[type=file]').each(function(index, field){
			console.log(field.files);
			if(field.files[0] && field.files[0].size > 2000000){
				self.$refs.toastr.s('File size cannot be greater than 2MB');
				error = true;
			}
		});

		if(error) return;
		formData.append('_method', 'PUT');
		this.axios.post('/input-expanders/'+this.$route.params.id, formData)
		.then(function(response){
			console.log(response);
			if(response.status == 200){
				self.$refs.toastr.s('Input expander details updated');
				setTimeout(function(){
					self.$router.push('/input-expanders');
				}, 2000);
				//window.location = url + '/manufacturers/';
			}
		})
		.catch(function(error){
			console.log(error);
			if(error.response.data.meta.error_code == 400){
				$.each(error.response.data.meta.message, function(index, item){
					self.$refs.toastr.e(item);
				});	
			}
		});
	},
	cancelForm: function(event){
		event.preventDefault();
		this.$router.push('/input-expanders');
	}
  }
}
</script>
<style type="text/css" scoped="">
	input[type=file] {
		height: 100%;
	}
</style>