<template>
     <div class="content-wrapper" style="min-height: 100%">
		<div class="content-header">
			<h1>Edit Manufacturer</h1>
		</div>
		<vue-toastr ref="toastr"></vue-toastr>
		<section class="content">
			<div class="box box-danger card">
				<form role="form" @submit="submitForm($event)">
					<div class="box-body">
						<input type="hidden" name="_method" value="PUT">
						<div class="row">
							<div class="form-group col-sm-6">
								<label>Name*</label>
								<input required="" class="form-control" type="text" name="name" v-model="manufacturer.name"/>
							</div>
							<div class="form-group col-sm-6">
								<label>Country Of Origin*</label>
								<input required="" class="form-control" type="text" name="origin_country" v-model="manufacturer.origin_country"/>
							</div>		
                        </div>
                        <div class="row">
							<div class="form-group col-sm-6">
								<label>Year make records from*</label>
								<input required="" class="form-control" type="number" name="year_from" v-model="manufacturer.year_from" min="0" />
							</div>																		
                            <div class="form-group col-sm-6">
								<label>Year make records to*</label>
								<input required="" class="form-control" type="number" name="year_to" v-model="manufacturer.year_to" min="0" />
							</div>
						</div>
						<div class="row">
							<div class="form-group col-sm-12">
								<label>History</label>
								<textarea class="form-control" name="history" v-model="manufacturer.history"></textarea>
							</div>							
						</div>
                        <label>Images:</label>
                        <div class="row">
                        	<div class="col-sm-4 form-group">
								<label>Founder*</label>
								<div v-if="founder.image">
									<img :src="founder.image" class="img-responsive center-block" height="100" width="100">
									<input type="file" class="form-control" name="founder" accept="image/jpeg,.jpg,.png">
								</div>
								<div v-else>
									<input required="" type="file" class="form-control" name="founder" accept="image/jpeg,.jpg,.png">
								</div>
							</div>
                            <div class="col-sm-4 form-group">
								<label>Image 1</label>
								<div v-if="images[0]">
									<img :src="images[0].image" class="img-responsive center-block" height="100" width="100">
									<input type="file" class="form-control" name="images[0]" accept="image/jpeg,.jpg,.png">
								</div>
								<div v-else>
									<input type="file" class="form-control" name="images[0]" accept="image/jpeg,.jpg,.png">
								</div>
							</div>
							<div class="col-sm-4 form-group">
								<label>Image 2</label>
								<div v-if="images[1]">
									<img :src="images[1].image" class="img-responsive center-block" height="100" width="100">
									<input type="file" class="form-control" name="images[1]" accept="image/jpeg,.jpg,.png">
								</div>
								<div v-else>
									<input type="file" class="form-control" name="images[1]" accept="image/jpeg,.jpg,.png">
								</div>
							</div>
                        </div>
						<div class="row">
							<div class="form-group col-sm-12">
								<button @click="cancelForm($event)" type="button" class="btn btn-default pull-right">Back</button>
								<button type="submit" class="btn btn-success pull-right" style="margin-right: 10px">Update</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
</template>
<script>
export default {
  name: "EditManufacturerForm",
  data: function(){
	  return {
	  	  base_url: "",
	  	  founder: "",
	  	  images: [],
		  manufacturer: {
		  	name: "",
		  	origin_country: "",
		  	year_from: 0,
		  	year_to: 0,
		  	history: "",
		  	images: [],
		  },
	  }
  },
  mounted: function(){
  	this.getManufacturerData();
  },
  methods: {
	getManufacturerData: function(){
		var self = this;
		var i = 0;
		this.axios.get('/manufacturers/' + self.$route.params.id)
			.then(function(response){
				self.manufacturer = response.data.data;
				self.images = self.manufacturer.images;
				if(self.images[0] && self.images[0].type == 0){
					self.founder = self.images[0];
					self.images.shift();
					// if(self.manufacturer.images[1]){
					// 	for(i=1; i < self.manufacturer.images.length; i++){
					// 		self.images.push(self.manufacturer.images.image);
					// 	}
					// }
				}
				// console.log("self.images");
				// console.log(self.images);
			})
			.catch(function(response){
				console.log(response);
			});
	},
	showPlaceholder: function(event){
        var target = $(event.target);
        target.attr('src', this.$placeholder);
    },
	submitForm: function(event) {
		event.preventDefault();
		var from_year = $('input[name="year_from"]').val();
		var to_year = $('input[name="year_to"]').val();
		if(parseInt(to_year) - parseInt(from_year) <= 0){
			this.$refs.toastr.e("value of Year make records to cannot be less than Year make records from");
			return;
		}
		var formData = new FormData($('form')[0]);
		var self = this;
		var error = false;

		$('input[type=file]').each(function(index, field){
			console.log(field.files);
			if(field.files[0] && field.files[0].size > 2000000){
				self.$refs.toastr.s('File size cannot be greater than 2MB');
				error = true;
			}
		});

		if(error) return;
		this.axios.post('/manufacturers/' + self.$route.params.id, formData)
			.then(function(response){
				console.log(response);
				if(response.status == 200){
					self.$refs.toastr.s('Manufacturer details updated');
					setTimeout(function(){
						self.$router.push('/manufacturers');
					}, 2000);
				}
			})
			.catch(function(error){
				console.log(error.response);
				if(error.response && error.response.data.meta.error_code == 400){
					$.each(error.response.data.meta.message, function(index, item){
						self.$refs.toastr.e(item);
					});	
				}
			});
	},
	cancelForm: function(event){
		this.$router.push('/manufacturers');
	}
	// deleteImage: function(event, id){
	// 	var target = $(event.target);
	// 	target.closest('.col-sm-4').children('.image_upload_div').css('display','block');
	// 	target.parent().remove();
	// 	var self = this;
	// 	this.axios.post('manufacturers/images/' + id + '/delete')
	// 		.then(function(response){
	// 			console.log(response);
	// 		})
	// 		.catch(function(response){
	// 			console.log(response);
	// 		})
	// }
  }
}
</script>
<style type="text/css" scoped="">
	input[type=file] {
		height: 100%;
	}
</style>