<template>
  <div class="content-wrapper">
    <section class="content-header">
        <h1>Input Expanders
          <router-link class="fa fa-plus" to="/input-expanders/create" style="margin-left: 10px" title="Add New Input Expander"></router-link>
        </h1>
    </section>
    <vue-toastr ref="toastr"></vue-toastr>
    <section class="content">
        <div class="row">
            <div class="col-md-2"  v-for="expander, index in expanders.data">
                <div class="card" style="background: white" @click="editForm(expander.id)">
                    <img v-if="expander.thumbnail" class="img-responsive center-block" :src="expander.thumbnail" @error="showPlaceholder($event)">
                    <img v-else class="img-responsive center-block" :src="defaultImage">
                    <p class="text-center">{{expander.model}}</p>
                </div>    
            </div>
            
        </div>
        <pagination :data="expanders" v-on:pagination-change-page="getInputExpanders">
          <span slot="prev-nav">&lt; Previous</span>
          <span slot="next-nav">Next &gt;</span>
        </pagination>
    </section>
</div>
</template>

<script type="text/javascript">
export default {
  name: 'InputExpanderList',
  data: function() {
    return {
        expanders:{},
        base_url: "",
        defaultImage:'',
    }
  },
  mounted: function() {
    this.defaultImage = this.$placeholder;
    this.getInputExpanders();
  },
  methods: {
    getInputExpanders: function(page) {
        if(typeof page === "undefined"){
          page = 1;
        }
        var self = this;
        this.axios.get('/input-expanders?page='+page)
        .then(function(response) {
            console.log(response);
            self.expanders = response.data.data;
            console.log(self.expanders);
        })
        .catch(function(response) {
            console.log(response);
        });
    },
    showPlaceholder: function(event){
        var target = $(event.target);
        target.attr('src', this.$placeholder);
    },
    editForm: function(id) {
        this.$router.push('/input-expanders/'+id+'/edit');
    }
  }
}
</script>
<style type="text/css" scoped="">
    /*Media Query For Dynamic Data In Row*/
@media (min-width: 1200px) {
   .row .col-md-3:nth-child(4n+1) {
       clear: left;
   }
}

@media (min-width: 992px) and (max-width:1199px) {
   .row .col-md-4:nth-child(3n+1) {
       clear: left;
   }
}

@media (min-width: 768px) and (max-width:991px) {
   .row .col-sm-6:nth-child(2n+1) {
       clear: left;
   }
}

img {
    width: auto;
}

.text-center{
  margin-left:12px;
  white-space: nowrap;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
