<template>
     <div class="content-wrapper" style="min-height: 100%">
		<div class="content-header">
			<h1>New Brand</h1>
		</div>
		<vue-toastr ref="toastr"></vue-toastr>
		<section class="content">
			<div class="box box-danger card">
				<form role="form" @submit="submitForm($event)">
					<div class="box-body">
						<div class="row">
							<div class="form-group col-sm-6">
								<label>Name*</label>
								<input required="" class="form-control" type="text" name="name"/>
							</div>
							<div class="form-group col-sm-6">
								<label>Location*</label>
								<input required="" class="form-control" type="text" name="location"/>
							</div>		
                        </div>
                        <div class="row">
                        	<div class="form-group col-sm-4">
								<label>Manufacturer*</label>
								<select class="form-control" name="manufacturer_id" required="">
									<option value="">Select Manufacturer</option>
									<option v-for="manufacturer in manufacturers" :value="manufacturer.id">{{manufacturer.name}}</option>
								</select>
							</div>

							<div class="form-group col-sm-4">
								<label>Years in business from*</label>
								<input class="form-control" type="number" name="year_from" min="0" required="" />
							</div>																		
                            <div class="form-group col-sm-4">
								<label>Year in business to*</label>
								<input class="form-control" type="number" name="year_to" min="0" required="" />
							</div>																		
						</div>
						<div class="row">
							<div class="form-group col-sm-12">
								<label>Company Description</label>
								<textarea class="form-control" name="description"></textarea>
							</div>							
						</div>
						<div class="row">
							<div class="form-group col-sm-12">
								<label>Technical Innovation</label>
								<textarea class="form-control" name="innovations"></textarea>
							</div>							
						</div>
						<div class="row">
							<div class="form-group col-sm-12">
								<label>General Information</label>
								<textarea class="form-control" name="information"></textarea>
							</div>							
						</div>
                        <label>Images:</label>
                        <div class="row">
                            <div class="col-sm-4 form-group">
								<label>Founder*</label>
								<input type="file" class="form-control" name="founder" required="" accept="image/jpeg,.jpg,.png">
							</div>
                            <div class="col-sm-4 form-group">
								<label>Image 1</label>
								<input type="file" class="form-control" name="images[0]" accept="image/jpeg,.jpg,.png">
							</div>
                            <div class="col-sm-4 form-group">
								<label>Image 2</label>
								<input type="file" class="form-control" name="images[1]" accept="image/jpeg,.jpg,.png">
							</div>
                        </div>
						<div class="row">
							<div class="form-group col-sm-12">
								<button @click="cancelForm($event)" type="button" class="btn btn-default pull-right">Back</button>
								<button type="submit" class="btn btn-success pull-right" style="margin-right: 10px">Submit</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
</template>
<script>
export default {
  name: "NewBrandForm",
  data: function(){
  	return{
  		manufacturers: []
  	}
  },
  mounted: function(){
  	this.getManufacturers();
  },
  methods: {
  	getManufacturers: function(){
        var self = this;
        this.axios.get('/manufacturers')
        .then(function(response){
          self.manufacturers = response.data.data;
          console.log(response);
        })
        .catch(function(error){
          console.log(error);
        });
    },
	submitForm: function(event) {
		event.preventDefault();
		var from_year = $('input[name="year_from"]').val();
		var to_year = $('input[name="year_to"]').val();
		if(parseInt(to_year) - parseInt(from_year) <= 0){
			this.$refs.toastr.e("value of Year make records to cannot be less than Year make records from");
			return;
		}
		var formData = new FormData($('form')[0]);
		var self = this;
		var error = false;

		$('input[type=file]').each(function(index, field){
			console.log(field.files);
			if(field.files[0] && field.files[0].size > 2000000){
				self.$refs.toastr.s('File size cannot be greater than 2MB');
				error = true;
			}
		});

		if(error) return;
		this.axios.post('/brands', formData)
			.then(function(response){
				console.log(response.status);
				if(response.status == 200){
					self.$refs.toastr.s('Brand details added');
					setTimeout(function(){
						self.$router.push('/brands');
					}, 2000);
				}
			})
			.catch(function(error){
				console.log(error.response);
				if(error.response.data.meta.error_code == 400){
					$.each(error.response.data.meta.message, function(index, item){
						self.$refs.toastr.e(item);
					});	
				}
			});
	},
	cancelForm: function(event){
		this.$router.push('/brands');
	}
  }
}
</script>
<style type="text/css" scoped="">
	input[type=file] {
		height: 100%;
	}
</style>