<template>
  <div class="content-wrapper" style="min-height: 100%">
		<div class="content-header">
			<h1>New Input Expander</h1>
		</div>
		<vue-toastr ref="toastr"></vue-toastr>
		<section class="content">
			<div class="box box-danger card">
				<form role="form" @submit="submitForm($event)">
					<div class="box-body">
						<div class="row">
							<div class="form-group col-sm-6">
								<label>Model*</label>
								<input required="" class="form-control" type="text" name="model"/>
							</div>
							<div class="form-group col-sm-6">
								<label>Brand*</label>
								<select  class="form-control" name="brand_id" required="">
									<option value="">Select Brand</option>
									<option v-for="brand in brands" :value="brand.id">{{brand.name}}</option>
								</select>
							</div>		
						</div>
						<label>Images</label>
						<div class="row">
							<div class="col-sm-3 form-group">
								<label>Image 1*</label>
								<input required="" type="file" class="form-control" name="images[0]" accept="image/*">
							</div>
							<div class="col-sm-3 form-group">
								<label>Image 2</label>
								<input type="file" class="form-control" name="images[1]" accept="image/*">
							</div>
							<div class="col-sm-3 form-group">
								<label>Image 3</label>
								<input type="file" class="form-control" name="images[2]" accept="image/*">
							</div>
							<div class="col-sm-3 form-group">
								<label>Image 4</label>
								<input type="file" class="form-control" name="images[3]" accept="image/*">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-sm-3">
								<label>Main Image*</label>
								<select required="" class="form-control" name="main_image">
									<option value="0">Pic 1</option>
									<option value="1">Pic 2</option>
									<option value="2">Pic 3</option>
									<option value="3">Pic 4</option>
								</select>
							</div>
							<div class="form-group col-sm-3">
								<label>Tape Recorders Usable</label>
								<input class="form-control" type="number" name="tape_recorders_usable"/>
							</div>
							<div class="form-group col-sm-3">
								<label>Outputs for Record(1-10)</label>
								<input class="form-control" type="number" name="outputs_for_record"/>
							</div>
							<div class="form-group col-sm-3">
								<label>Tape Copy Option(# Decks)</label>
								<input class="form-control" type="number" name="copy_option_decks"/>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-sm-12">
								<button @click="cancelForm($event)" type="button" class="btn btn-default pull-right">Back</button>
								<button type="submit" class="btn btn-success pull-right" style="margin-right: 10px">Submit</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
</template>
<script>
export default {
  name: "NewTapeRecorderForm",
  data: function() {
	  return{
			brands: [],
	  }
  },
  mounted: function(){
  	this.getBrands();
  },
  methods: {
  	getBrands: function(){
  		var self = this;
        this.axios.get('brands')
        .then(function(response){
          console.log(response);
          self.brands = response.data.data;
        })
        .catch(function(error){
          console.log(error);
        });
  	},
	submitForm: function(event) {
		event.preventDefault();
		var formData = new FormData($('form')[0]);
		var self = this;
		var error = false;

		$('input[type=file]').each(function(index, field){
			console.log(field.files);
			if(field.files[0] && field.files[0].size > 2000000){
				self.$refs.toastr.s('File size cannot be greater than 2MB');
				error = true;
			}
		});

		if(error) return;

		this.axios.post('/input-expanders', formData)
		.then(function(response){
			console.log(response);
			if(response.status == 200){
				self.$refs.toastr.s('Input expander details added');
				setTimeout(function(){
					self.$router.push('/input-expanders');
				}, 2000);
				//window.location = url + '/manufacturers/';
			}
		})
		.catch(function(error){
			console.log(error);
			if(error.response.data.meta.error_code == 400){
				$.each(error.response.data.meta.message, function(index, item){
					self.$refs.toastr.e(item);
				});	
			}
		});
	},
	cancelForm: function(event){
		event.preventDefault();
		this.$router.push('/input-expanders');
	}
  }
}
</script>
<style type="text/css" scoped="">
	input[type=file] {
		height: 100%;
	}
</style>