<template>
     <div class="content-wrapper" style="min-height: 100%">
		<div class="content-header">
			<h1>New Manufacturer</h1>
		</div>
		<vue-toastr ref="toastr"></vue-toastr>
		<section class="content">
			<div class="box box-danger card">
				<form role="form" @submit="submitForm($event)">
					<div class="box-body">
						<div class="row">
							<div class="form-group col-sm-6">
								<label>Name*</label>
								<input required="" class="form-control" type="text" name="name"/>
							</div>
							<div class="form-group col-sm-6">
								<label>Country Of Origin*</label>
								<input required="" class="form-control" type="text" name="origin_country"/>
							</div>		
                        </div>
                        <div class="row">
							<div class="form-group col-sm-6">
								<label>Year make records from*</label>
								<input required="" class="form-control" type="number" name="year_from" min="0"/>
							</div>																		
                            <div class="form-group col-sm-6">
								<label>Year make records to*</label>
								<input required="" class="form-control" type="number" name="year_to" min="0"/>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-sm-12">
								<label>History</label>
								<textarea class="form-control" name="history"></textarea>
							</div>							
						</div>
                        <label>Images:</label>
                        <div class="row">
                            <div class="col-sm-4 form-group">
								<label>Founder*</label>
								<input type="file" class="form-control" name="founder" accept="image/jpeg,.jpg,.png" required="">
							</div>
                            <div class="col-sm-4 form-group">
								<label>Image 1</label>
								<input type="file" class="form-control" name="images[0]" accept="image/jpeg,.jpg,.png">
							</div>
                            <div class="col-sm-4 form-group">
								<label>Image 2</label>
								<input type="file" class="form-control" name="images[1]" accept="image/jpeg,.jpg,.png">
							</div>
                        </div>
						<div class="row">
							<div class="form-group col-sm-12">
								<button @click="cancelForm($event)" type="button" class="btn btn-default pull-right">Back</button>
								<button type="submit" class="btn btn-success pull-right" style="margin-right: 10px">Submit</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</section>
	</div>
</template>
<script>
export default {
  name: "NewManufacturerForm",
  methods: {
	submitForm: function(event) {
		event.preventDefault();
		var from_year = $('input[name="year_from"]').val();
		var to_year = $('input[name="year_to"]').val();
		if(parseInt(to_year) - parseInt(from_year) <= 0){
			this.$refs.toastr.e("value of Year make records to cannot be less than Year make records from");
			return;
		}		
		var formData = new FormData($('form')[0]);
		var url = document.head.querySelector('meta[name="admin-base-url"]').content;
		var self = this;
		var error = false;

		$('input[type=file]').each(function(index, field){
			console.log(field.files);
			if(field.files[0] && field.files[0].size > 2000000){
				self.$refs.toastr.s('File size cannot be greater than 2MB');
				error = true;
			}
		});

		if(error) return;
		this.axios.post('/manufacturers', formData)
			.then(function(response){
				console.log(response.status);
				if(response.status == 200){
					self.$refs.toastr.s('Manufacturer details added');
					setTimeout(function(){
						self.$router.push('/manufacturers');
					}, 2000);
					//window.location = url + '/manufacturers/';
				}
			})
			.catch(function(error){
				console.log(error);
				if(error.response.data.meta.error_code == 400){
					$.each(error.response.data.meta.message, function(index, item){
						self.$refs.toastr.e(item);
					});	
				}
			});
	},
	cancelForm: function(event){
		this.$router.push('/manufacturers');
	}
  }
}
</script>
<style type="text/css" scoped="">
	input[type=file] {
		height: 100%;
	}
</style>