<template>
  <div class="content-wrapper">
    <section class="content-header">
        <h1>Tape Head Preamps
          <router-link class="fa fa-plus" to="/tape-head-preamps/create" style="margin-left: 10px" title="Add New Tape Head Preamps"></router-link>
        </h1>
    </section>
    <vue-toastr ref="toastr"></vue-toastr>
    <section class="content">
        <div class="row">
            <div class="col-md-2"  v-for="tape_head_preamp, index in tape_head_preamps.data">

                <div class="card" style="background: white"  @click="editForm(tape_head_preamp.id)">
                    <img v-if="tape_head_preamp.thumbnail"  class="img-responsive center-block" :src="tape_head_preamp.thumbnail"  @error="showPlaceholder($event)">
                    <img v-else class="img-responsive center-block" :src="defaultImage">
                    <p class="text-center">{{tape_head_preamp.manufacturer}} {{tape_head_preamp.model}}</p>
                </div>    
            </div>
            
        </div>
        <pagination :data="tape_head_preamps" v-on:pagination-change-page="getTapeHeadPreamps">
          <span slot="prev-nav">&lt; Previous</span>
          <span slot="next-nav">Next &gt;</span>
        </pagination>
    </section>
</div>
</template>

<script type="text/javascript">
export default {
  name: 'TapeHeadPreampsList',
  data: function() {
    return {
        tape_head_preamps:{},
        base_url: "",
        defaultImage:''
    }
  },
  mounted: function() {
    this.defaultImage = this.$placeholder;
    this.getTapeHeadPreamps();
  },
  methods: {
    getTapeHeadPreamps: function(page) {
        if(typeof page === "undefined"){
          page = 1;
        }
        var self = this;
        this.axios.get('/tape-head-preamps?page='+page)
        .then(function(response) {
            console.log(response);
            self.tape_head_preamps = response.data.data;
            console.log(self.tape_head_preamps);
        })
        .catch(function(response) {
            console.log(response);
        });
    },
    showPlaceholder: function(event){
        var target = $(event.target);
        target.attr('src', this.$placeholder);
    },
    editForm: function(id) {
        this.$router.push('/tape-head-preamps/'+id+'/edit');
    }
  }
}
</script>
<style type="text/css" scoped="">
    /*Media Query For Dynamic Data In Row*/
@media (min-width: 1200px) {
   .row .col-md-3:nth-child(4n+1) {
       clear: left;
   }
}

@media (min-width: 992px) and (max-width:1199px) {
   .row .col-md-4:nth-child(3n+1) {
       clear: left;
   }
}

@media (min-width: 768px) and (max-width:991px) {
   .row .col-sm-6:nth-child(2n+1) {
       clear: left;
   }
}

img {
    width: auto;
}

.text-center{
  margin-left:12px;
  white-space: nowrap;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
